
$main_blue: #2980b9;
$main_gray: #585f69;

.survey{
    width: 80%;
    margin: 0 auto;
    .title{
        margin-top: 20px;
        .name{
            font-size: 28px;
            color: $main_gray;
        }
        .complete, .incomplete{
            margin-left: 5px;
            display: inline-block;
            font-size: 12px;
            text-align: center;
            line-height: 25px;
            width: 40px;
            height: 25px;
            color: white;
        }
        .complete{
            background-color: #5cb85c;
        }
        .incomplete{
            background-color: #d9534f;
        }
    }
    .content{
        margin-top: 200px;
        .headline{
            border-bottom: 1px dotted #e4e9f0;
        }
        h3{
            display: inline-block;
            margin: 10px 0 25px 0;
            padding-bottom: 5px;
            font-size: 22px;
            font-weight: normal;
            color: $main_gray;
            border-bottom: 2px solid #0076C0;
        }
        p{
            font-size: 16px;
            color: #555;
        }
    }
    .stat{
        height: 50px;
        line-height: 50px;
        border-top: 2px solid black;
        border-right: 2px solid black;
        border-left: 2px solid black;
        padding-right: 50px;
        display: flex;
        gap: 50px;
        &:last-child{
            border: 2px solid black;
        }
    }
    .key{
        width: 100px;
        text-align: center;
    }
}

.submit-div{
    text-align: center;
    .submit{
        width: 100px;
        height: 50px;
        border: none;
        background-color: $main_blue;
        color: white;
        border-radius: 10px;
        margin-top: 20px;
    }
}

