@mixin width($width) {
    width: $width;
}

.root{
    padding: 40px 15px;
}

.Advertisement{
    width: 1238px;
    height: 88px;
    margin: 40px auto 0px;
    img{
        width: 1238px;
        height: 88px;
    }
}

.SurveyList{
    border-collapse: collapse;
    width: 1170px;
    margin: 40px auto;
    color: #333333;
    vertical-align: middle;
    .tier{
        @include width(15px);
    }
    .first{
        @include width(10%);
    }
    .second{
        @include width(30%);
    }
    .third{
        @include width(60%);
    }
    .fourth{
        @include width(70%);
        .complete, .incomplete{
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 25px;
            color: white;
        }
        .complete{
            background-color: #5cb85c;
        }
        .incomplete{
            background-color: #d9534f;
        }
    }
    .th{
        border: 1px solid #ddd;
        text-align: left;
        padding: 8px;
        margin: 0;
    }
    .td{
        border: 1px solid #ddd;
        padding: 8px;
        // &.second{
        //     color: #0076C0;
        // }
    }
    .name{
        a{
            color: #0076C0;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .tr{
        &:nth-child(odd){
            background-color: #F9F9F9;
        }
        margin: 0;
    }
}