
$main_blue: #2980b9;

.survey{
    width: 80%;
    margin: 0 auto;
    .stat{
        height: 50px;
        line-height: 50px;
        border-top: 2px solid black;
        border-right: 2px solid black;
        border-left: 2px solid black;
        padding-right: 50px;
        display: flex;
        gap: 50px;
        &:last-child{
            border: 2px solid black;
        }
    }
    .key{
        width: 100px;
        text-align: center;
    }
}

.submit-div{
    text-align: center;
    .submit{
        width: 100px;
        height: 50px;
        border: none;
        background-color: $main_blue;
        color: white;
        border-radius: 10px;
        margin-top: 20px;
    }
}